{{log this}}



<div class = "container">
    {{!-- {{username}} --}}
    {{!-- {{workoutInfo.experience}} --}}
    <img src="{{typeOfWorkout workoutInfo.experience workoutInfo.muscularGoal}}" alt="">
    <img src="{{cardio workoutInfo.cardioGoal}}" alt="">


    
</div>